<div class="container">
  <form>
    <div class="form-group">
      <input type="file" name="file" class="form-control-file" id="curve">   
    </div>
    <div class="input-group mb-4">
      <input type="text" class="form-control" placeholder="search known stars" (keydown)="search($event)">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ searchType }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="setType('name')">Name</a>
          <a class="dropdown-item" (click)="setType('designation')">Designation</a>
          <a class="dropdown-item" (click)="setType('hip')">HIP</a>
          <a class="dropdown-item" (click)="setType('hd')">HD</a>
          <a class="dropdown-item" (click)="setType('sao')">SAO</a>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="upload()">upload</button>
  </form>


  <div *ngFor="let star of stars" class="row">
    <ul>
      <li>{{ star.name }}: {{ star.desig }}</li>
    </ul>
  </div>
</div>
