<div class="container">
  <!-- body -->
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark jumbo-bg">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic font-weight-bold">Help us find our next home in the cosmos.</h1>
      <p class="lead my-3 text-white"><i>Project Redshift</i> continues the search for new planets using a sophisticated, accessible A.I. that needs your help to learn how to spot unexplored worlds.</p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/info']">More Info</a>
    </div>
  </div>

  <hr>
  <div class="row px-5 mt-4 justify-content-between">
    <div class="col-12 col-md-4 text-center text-md-left">
      <h4>{{ users }} Users</h4>
    </div>
    <div class="col-12 col-md-4 text-center text-md-center">
      <h4>{{ images }} Images</h4>
    </div>
    <div class="col-12 col-md-4 text-center text-md-right">
      <h4>{{ confirmed }} Confirmed</h4>
    </div>
  </div>
  <hr>

  <div class="row">
    <div *ngFor="let article of articles; let color of colors" class="col-md-6">
      <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
          <strong class="d-inline-block mb-2">{{ article.category }}</strong>
          <h3 class="mb-0">
            <a class="text-dark" [routerLink]="['article', article.id]">{{ article.title }}</a>
          </h3>
          <div class="mb-1 text-muted">{{ article.date }}</div>
          <p class="card-text mb-auto">{{ article.body.substring(0, 100) }}...</p>
          <a [routerLink]="['article', article.id]">Continue reading</a>
        </div>
        <img class="card-img-right img-fluid d-none d-lg-block" [src]="article.photo" style="width: 500px;" alt="Card image cap">
      </div>
    </div>
  </div>
</div>
